# Dependencies
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo

# Build & Dist
dist/
build/
.output/

# Databases & local state
*.db
*.sqlite
*.sqlite3

# Environment & IDE
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
.DS_Store

# Logs
*.log
logs/
